h1 {
    font-family: cursive;
    color: darkred;
}

p {
    font-family: cursive;
    color: royalblue;
    
}
ul{
    color: ;
    font-family: sans-serif;
}
.Overmezelf {
    color: ;
    font-family: Arial;
}
.Overschool {
    color: ;
    font-family: Arial;
}
h2 {
    color: royalblue;
    font-family:  cursive;
}
.Overmijnfamilie{
    color: ;
    font-family: Arial;

}
a:link {
  color: blue;
}


a:visited {
  color: rgb(212, 0, 255);
}


a:hover {
  color: red;
}


a:active {
  color: blue;
}

.hond{
    Color: red;
    font-family: cursive;
}

.Wonen {
    Color: ;
    font-family: Arial, Helvetica, sans-serif;
}
.Einde {
    Color: darkblue;
    font-family: cursive;
}
img {
    width: 300px;
}
body {
    background-color: lightskyblue;
}